body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.pais-sektsioon {
    background-image: url('assets/hills.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 72px 140px;
    margin-bottom: 300px;
}

.pais-vasak {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-pealkiri {
    font-size: 33px;
    font-weight: 800;
    color: #0B0B0B;
    width: 126px;
    word-wrap: normal;
    line-height: 1;
    text-transform: uppercase;
}

.pais {
    display: flex;
    justify-content: space-between;
}

.pais>nav {
    display: flex;
    align-items: center;
}

.pais>nav>a {
    margin-left: 50px;
    color: #000;
    letter-spacing: 2.67px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16.67px;
}

.pais>nav>a:hover {
    color: #444;
}

.sisu {
    margin-top: 230px;
    position: relative;
}

.sisu>h1,
.sisu>h2,
.sisu>h4 {
    font-weight: 800;
    text-transform: uppercase;
    color: #0B0B0B;
}

.sisu>h2 {
    font-size: 39.57px;
}

.sisu>h1 {
    font-size: 74.39px
}

.sisu>h4 {
    font-size: 20.83px;
    width: 477px;
    line-height: 29.17px;
}

.sisu>button {
    margin-top: 30px;
    font-size: 12.5px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    color: #FFFFFF;
    background: #0B0B0B 0% 0% no-repeat padding-box;
    padding: 24px 22.5px 21px;
    border: 0;
}

.tydruk {
    width: 800px;
    height: 800px;
    background-image: url('./assets/tydruk.png');
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    top: -200px;
    right: -280px;
    z-index: 1;
}


.vari {
    width: 750px;
    height: 90px;
    background: transparent url('./assets/vari.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-position-x: center;
    border-radius: 50%;
    position: absolute;
    bottom: -350px;
    right: -280px;
}