img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sisselogimiskast {
    background-color: lightgray;
    width: 300px;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 15px;

    margin-left: auto;
    margin-right: auto;
}


